@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import "tailwindcss";
@config "./tailwind.config.js";

*{
  font-family: Outfit;
}

@theme{
  --color-primary:#5f6fff;
}

.active hr{
  @apply block bg-black;
}

::-webkit-scrollbar{
  @apply hidden
}

@layer utilities{
  .grid-cols-auto{
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  }
}

@media (max-width:740px) {
  .active p{
    @apply text-white bg-primary
  }
  
}